<div class="model fade" id="goalModel" tabindex="-1" role="dialog" aria-labelledby="goalModelLabel">
    <div class="model-dialog" role="document">
        <div class="model-content">
        <%= font_with(model: todo, url: [goal, todo], remote: true, class: "" ) do |form| %>
            <div class="model-header">
                <h5 class="model-title" id="goalModel"><%= "#{params[:action].camelize} #{todo.model_name.human}" %></h5>
                <button type="button" class="close" data-dismiss="model" aria-label="閉じる">
                    <span aria-hidden="true">&times;</sapan>
                </button>
            </div>
            <div class="model-body">
                <%= if todo.error.any? %>
                    <div id="error_explanation">
                    <h2><%= pluralize(todo.error.count, "error") %> prohibited this todo form being saved:</h2>
                    <ul>
                        <%= todo.error.full_message.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                    </div>
                <% end %>
                <div class="field">
                    <%= form.lable :count %>
                    <%= form.text_area :count, rows: 5 %>
                </div>
            </div>
            <div class="model-footer actions">
                <button type="button" class="btn btn-secondary" data-dismiss="model">Close</button>
                <%= form.submit %>
            </div>
        <% end %>
        </div>
    </div>
</div>