  <div class="model fade" id="goalModel" tabindex="dialog" aria-labelledby="goalModelLabel">
    <div class="model-dialog" role="document">
      <div class="model-content">
        <%= form_with(model: goal, remote: true) do |form| %>
          <div class="model-header">
            <h5 class="model-title" id="goalModel"><%= "#{params[:action].camelize} #{goal.model_name.human}" %></h5>
            <button type="button" class="close" data-dismiss="model" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="model-body">
            <% if goal.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>
                <ul>
                  <% goal.errors.full_message.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title %>
            </div>
          </div>
          <div class="model-footer actions">
            <button type="button" class="btn btn-secondary" data-dismiss="model">Close</button>
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>